*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://data.whicdn.com/images/269205337/original.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav img {
    width: 50px;
    height: 50px;
}
.Titulo {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 5px;
    width: 100%;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: 3px solid rgb(192, 145, 26);
    text-decoration:none;
}
.Barra a{
    color: gold;
}
.Barra a:hover{
    color: white;
    background-color: gold;
    border: 3px solid white;
}
.Ubicacion {
    display: grid;
    padding-top: 100px;
    font-size: 30px;
    margin: auto;
    color: white;
    font-family: 'Koulen', cursive;
}
.Ubicacion ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.Formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Formulario ul li{
    list-style: none;  
}
.Formulario div{
    margin: auto;
    border: 1px solid gold;
}
footer{
    display: grid;
    
} 
.Redes{
    border: 3px solid gold;
    padding: 30px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Redes li{
    grid-template-rows: 20px;
    grid-template-columns: 200px 200px 200px;
    border: 3px solid gold;
    padding: 20px;
}
footer img{
    width: 70px;
}
.Siguenos{
    color: gold;
    border: 3px solid gold;
    text-align: center;
    font-size: 50px;
    font-family: Japon;
}
.Siguenos p{
    padding: 20px;
}
