*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://wallpapercave.com/wp/wp9628088.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav img {
    width: 50px;
    height: 50px;
}
.Titulo {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 5px;
    width: 100%;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(9, 12, 194);;
    border: 3px solid rgb(192, 145, 26);
    text-decoration:none;
}
.Barra a{
    color: gold;
}
.Barra a:hover{
    color: rgb(9, 12, 194);
    background-color: gold;
}
.Productos table{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gold;
    padding-top: 100px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.productos td{
    background-color: blue;
}
.productos td:hover{
    color: blue;
    background-color: gold;
}
footer{
    display: grid;
    
} 
.Redes{
    border: 3px solid gold;
    padding: 30px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Redes li{
    grid-template-rows: 20px;
    grid-template-columns: 200px 200px 200px;
    border: 3px solid gold;
    padding: 20px;
}
footer img{
    width: 70px;
}
.Siguenos{
    background-color: rgb(9, 12, 194);
    color: gold;
    border: 3px solid gold;
    text-align: center;
    font-size: 50px;
    font-family: Japon;
}
.Siguenos p{
    padding: 20px;
}